CONFIG_BCMDHD=n
CONFIG_BCMDHD_PCIE=n
CONFIG_VIDEO_IMX258=n
CONFIG_VIDEO_ROCKCHIP_HDMIRX=n
CONFIG_CAN=y
CONFIG_CAN_ROCKCHIP=y
CONFIG_CANFD_ROCKCHIP=y
CONFIG_CMA_SIZE_MBYTES=128
CONFIG_INPUT_JOYDEV=y
CONFIG_INPUT_JOYSTICK=y
CONFIG_JOYSTICK_XPAD=y
CONFIG_USB_NET_RNDIS_WLAN=y
CONFIG_WL_ROCKCHIP=y
CONFIG_RTL8821CU=y
CONFIG_CPU_FREQ_DEFAULT_GOV_POWERSAVE=y
CONFIG_SENSORS_PWM_FAN=y
